.cabecalho{
	/*border: solid black 1px; */
	background: green;
	background-image: linear-gradient(to right, #116611,#55AA55);
}

#titulo, #subtitulo,#frase{
	color: white;

}

#comecar{
	color: #116611;
}

nav{
	margin-top: 0; 
	background-image: linear-gradient(to right,	#116611,#55AA55);
}

.nav-link{
	color: white;
}

footer{
	background-image: linear-gradient(to right,	#116611,#55AA55);
	padding: 50px 0px 20px 0px;
	position: relative;
}